<?xml version="1.0"?>
<configuration>
<configSections>
</configSections>
<connectionStrings>
    <add name="MyGarment.Properties.Settings.dbDATAConnectionString"
        connectionString="Data Source=192.168.1.67;Initial Catalog=dbDATA;User ID=itmis;Password=itmis"
        providerName="System.Data.SqlClient" />
</connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
